<html ng-app="todo-list">
  <head>
    <title>Section 5: Assignment</title>
    <script src="javascripts/moment.min.js"></script>
    <script src="javascripts/angular.min.js"></script>
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/angular-module.js"></script>
    <script src="javascripts/angular-todo-ctrl.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/todo.css">
  </head>
  <body class="container" ng-controller="todoCtrl">
    <div class="clearfix">&nbsp;</div>

    <div class="row">
      <h1>Reminders</h1>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="list-group">

          <div class="list-group-item">
            <div class="form-group">
              <h4>Task <small>{{ completed_count() }}/{{ todos.length }} Completed</small></h4>
            </div>
            <div class="form-group">
              <small><a ng-click="show('')">All</a></small>,
              <small><a ng-click="show(false)">Uncompleted</a></small>,
              <small><a ng-click="show(true)">Completed</a></small>
            </div>
            <div class="form-group">
              <i class="fa fa-plus-circle" data-toggle="modal" data-target="#modal-add-task" ng-click="clearForm()"> Add task</i>
            </div>
          </div>

          <a href="javascript:void(0)" class="list-group-item" ng-repeat="item in showTodoList() | orderBy: 'status' track by $index">
            <div class="row">
              <div class="col-md-2">
                <input type="checkbox" ng-checked="item.status" ng-click="changeStatus(item)">
              </div>
              <div
                class="col-md-8"
                ng-class="{ strike: item.status }"
                data-toggle="modal"
                data-target="#modal-add-task"
                ng-click="editForm(item)"
                >
                <h5><label>{{ item.title }}</label> <br> <small>{{ item.updated_at }}</small></h5>
              </div>
              <div class="col-md-2">
                <span class="badge"><i class="fa fa-trash" ng-click="remove(item)"></i></span>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-6"></div>
    </div>

    <!-- Start Modal Add Task -->
    <div class="modal fade" id="modal-add-task" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Task</h4>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label class="control-label">ID </label><small> {{ form.id }} </small>
              </div>
              <div class="form-group">
                <label for="title" class="control-label">Title </label>
                <input type="text" class="form-control" ng-model="form.title" id="title">
              </div>
              <div class="form-group">
                <label for="description" class="control-label">Description </label>
                <textarea class="form-control" ng-model="form.description" id="description"></textarea>
              </div>
              <div class="form-group">
                <label class="control-label">Created at </label><small> {{ form.created_at }} </small>
              </div>
              <div class="form-group">
                <label class="control-label">Updated at </label><small> {{ form.updated_at }} </small>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-show="temp_index == undefined" ng-click="add()">Add</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-show="temp_index > -1" ng-click="update()">Update</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Modal Add Task -->
  </body>
</html>
